:root {
  --blue: #303C6C;
  --green: #96ceb4;
  --red: #ff6f69;
  --orange: #ffcc5c;
  --yellow: #ffeead;
  --light: #ECECEC;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:#303C6C;
    background-image: url("https://media.istockphoto.com/photos/cherry-tomatoes-and-halves-are-flying-on-a-white-background-isolated-picture-id1333250753?b=1&k=20&m=1333250753&s=170667a&w=0&h=kUcN-F6XA1QgcAMViMB93MUExqt8JuFtrcb8qDNrmB8=");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
    background-color: var(--light);
    font-family:'Lucida Sans', sans-serif;
    font-weight: 600;
    list-style: none;
    margin-bottom: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* list of posts */
.wrap {
    display: flex;
    flex-direction: columns;
    max-width: 60rem;
    margin: 4rem auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 1rem;
}

/* li class */
.review {
    background-color: var(--green);
    list-style: none;
    border: 3px solid var(--blue);
    border-radius: 8px;
    flex: 1 1 200px;
    padding: 1rem;
}

/* title + author + rating */
.head_post {
    margin-top: auto;
    background-color: var(--orange);
    background-size: cover;
    padding: 1rem;
    color: var(--blue);
    height: 25vh;
    resize: both;
    
}
 /* username + title + author + rating container */
.username {
    background-color: var(--orange);
    color: var(--blue);
    margin-top: auto;
    border-radius: 3px;
    border: 3px solid var(--blue);
}

/* text-area with review */
.book_feedback{
    background-color: var(--yellow);
    background-size: cover;
    height: 15vh;  
    margin-top: 1em;
    border-radius: 3px; 
    border: 3px solid var(--blue);
}
p {
    margin-top: 1.5em;
    margin-left: 1em;

}

h1 {
   text-align: center;
   margin-top: 1em;
}

.name {
    display: block;
    font-size: 1.15em;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-transform: lowercase;
}

h2 {
    margin-bottom: 1rem;
    font-style: italic;
}

h2, h3 {
    text-transform: capitalize;
}

/* link styling */
a {
   color: var(--blue);
   font-family:'Lucida Sans', sans-serif;
   font-style: italic;
   font-size: 25px;
   font-weight: bold;
   display: block;
   text-align:center;
   margin-bottom: 1rem;
}

a:hover {
    transform: scale(1.1);
  }
  

